<section class="current_staff">
    <ol class="list-group">
      <li class="list-group-item clearfix"
          ng-repeat="staff in staffs">
        <h4 class="pull-right">
          <small class="text-uppercase">Joined</small>
                <%= @staff.created_at.to_date %>
        </h4>
        <h3 class="list-group-item-heading">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
               <%= @staff.first_name %> <%= @staff.last_name %>
            <small><%= @staff.title %></small>
        </h3>
       <p class="list-group-item-text"><%= @staff.email %></p>
      </li>
    </ol>
</section>