<%= form_for @staff do |f| %>

    <% if @staff.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@staff.errors.count, "error") %> prohibited
            this staff from being saved:
          </h2>
          <ul>
            <% @staff.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <form class="form-horizontal">
      <fieldset>
        <div class="form-group col-md-6">
          <%= f.label :First_Name,  class: 'col-md-4  control-label'%>
          <div class="col-md-8">
            <%= f.text_field :first_name , class: 'form-control input-md' , placeholder: 'First Name' %>

          </div>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :Last_Name,  class: 'col-md-4  control-label'%>
          <div class="col-md-8">

            <%= f.text_field :last_name , class: 'form-control input-md' , placeholder: 'Last Name' %>

          </div>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :Title,  class: 'col-md-4  control-label'%>
          <div class="col-md-8">
            <%= f.text_field :title , class: 'form-control input-md' , placeholder: 'Title' %>
          </div>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :Email,  class: 'col-md-4  control-label'%>
          <div class="col-md-8">
            <%= f.text_field :email , class: 'form-control input-md' , placeholder: 'Email' %>


          </div>
        </div>

        <%= f.submit 'submit', class: 'btn btn-primary btn-md pull-righ' %>

      </fieldset>
    </form>
<% end %>


