<article ng-app="staffs" ng-controller="StaffSearchController">
  <header>
    <h1 class="h2">Give a Point</h1>
  </header>
  <section class="search-form">
    <form>
      <label for="search.keywords" class="sr-only">Keywords</label>
      <input type="text"
             name="keywords"
             class="form-control input-lg"
             placeholder="First Name, Last Name, or Email Address"
             ng-change="search(keywords)"
             ng-model="keywords">
    </form>
  </section>
  <aside class="sr-only loading-progress">
    <span ng-if="loading" class="loading">Loading</span>
    <span ng-if="!loading" class="not-loading">Done Loading</span>
  </aside>
  <section class="search-results" ng-if="staffs.length > 0" ng-cloak>
    <header>
      <h1 class="h3">Results</h1>
    </header>
    <%= render partial: "pager",
               locals: { keywords: @keywords, page: @page } %>

    <ol class="list-group">
      <li class="list-group-item clearfix"
          ng-repeat="staff in staffs">
        <h4 class="pull-right">
          <small class="text-uppercase">Joined</small>
          {{ staff.created_at | date }}
        </h4>
        <h3 class="list-group-item-heading">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{ staff.first_name }} {{ staff.last_name }}
          <small>{{ staff.title }}</small>

        </h3>
       <p class="list-group-item-text">{{ staff.email }}</p>
       <div class="btn-toolbar pull-right" role="toolbar">
         <a class="btn btn-primary btn-sm" ng-href="staffs/{{staff.id}}">Details</a>
         <a class="btn btn-primary btn-sm" ng-href="staffs/{{staff.id}}/sndkudo">Send Kudo</a>
         <% if policy(:staff).erstaff? %>
           <a class="btn btn-primary btn-sm" ng-href="staffs/{{staff.id}}/erstaff">Edit/Remove</a>
         <% end %>

       </div>



      </li>
    </ol>
    <%= render partial: "pager",
               locals: { keywords: @keywords, page: @page } %>
  </section>
</article>
<p></p>
<section>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#mykudos">My Kudos</a></li>
    <li><a data-toggle="tab" href="#reckudos">Recent Kudos</a></li>
    <li><a data-toggle="tab" href="#sntkudos">Sent Kudos</a></li>
  </ul>

  <div class="tab-content">
    <div id="mykudos" class="tab-pane fade in active">
      <h2><%= @staff.first_name %> <%= @staff.last_name %>'s Kudos</h2>
      <ol class="list-group">
        <%= render partial: "kudos/kudoNoRecipient", locals: {kudos: @staff.kudos} %>
      </ol>
    </div>
    <div id="reckudos" class="tab-pane fade">
      <h2>Recent Kudos</h2>
      <ol class="list-group">
        <%= render @last10Kudos %>
      </ol>
    </div>
    <div id="sntkudos" class="tab-pane fade">
      <h2>Kudos Sent by Me</h2>
      <ol class="list-group">
        <%= render partial: "kudos/kudoNoSender", locals: {kudos: @sentKudos} %>
      </ol>
    </div>

  </div>
</section>
