<header>
  <h1>FLASH Staff Performance and Recognition</h1>
</header>
<section>


  <h2><%= @staff.first_name %> <%= @staff.last_name %>'s Kudos</h2>
  <ol class="list-group">
    <%= render @staff.kudos %>
  </ol>

  <% if policy(@staff).erstaff? || policy(@staff).new? %>
    <h4> Admin Links</h4>
    <%= link_to "New Staff", new_staff_path, class: "btn btn-primary btn-sm" %>
    <%= link_to "Edit/Remove Staff", staffs_path, class: "btn btn-primary btn-sm" %>
  <% end %>
</section>
