<!DOCTYPE html>
<html>
  <head>
    <title>FlashSPR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


<% if user_signed_in? %>
   <body class="loggedin">
 <% else %>
    <body>
 <% end %>
    <header>

      <nav id="mainnav" class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav logo"><a href="/"></a><li></li> </ul>
    </div>
        
         <div class="collapse navbar-collapse" >

          <ul class="nav navbar-nav" >
           

          <li><a href="#" > <span class="glyphicon glyphicon-home"></span>Home</a></li> <li><a href="#"><span  class="glyphicon glyphicon-user"></span> Update Profile</a></li> <li><a href="#" > <span class="glyphicon glyphicon-star"></span>Send/View Kudos</a></li> <li><a href="#"> <span class="glyphicon glyphicon-th-list"></span> Admin</a></li></ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
    <% if notice.present? %>
        <aside class="alert alert-info">
          <%= notice %>
        </aside>
    <% end %>
    <% if alert.present? %>
        <aside class="alert alert-danger">
          <%= alert %>
        </aside>
    <% end %>

    <%= yield %>
    </div>
    <footer class="">
    <div class="container">
      <p>FlashSPR © 2016.</p>
      </div>
    </footer>
  </body>
</html>
