<!DOCTYPE html>
<html>
  <head>
    <title>FlashSPR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


<% if user_signed_in? %>
    <body class="loggedin">
<% else %>
    <body>
<% end %>
    <header>

      <nav id="mainnav" class="navbar navbar-default ">
        <div class="container">
        <ul class="nav logo"><a href="/"><li></li></a></ul>
          <ul class="nav navbar-nav"> 
            <li><a href="/" > <span class="glyphicon glyphicon-home"></span>Home</a></li>

            <li>
              <%=
                link_to_if($curUserStaff.nil?, 'Home', root_path) do
              %>
                  <%= link_to edit_staff_path($curUserStaff) do %>
                    <span  class="glyphicon glyphicon-user"></span>Update Profile
                  <% end %>
              <% end %>
            </li>
            <li><%= link_to staffs_path do %>
                  <span class="glyphicon glyphicon-star"></span>Send/View Kudos
                <% end %>
            </li>
            <li><a href="#">
              <span class="glyphicon glyphicon-th-list"></span> Admin
            </a></li>
            <li><%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-star"></span>Logut
              <% end %>
            </li>

          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
    <% if notice.present? %>
        <aside class="alert alert-info">
          <%= notice %>
        </aside>
    <% end %>
    <% if alert.present? %>
        <aside class="alert alert-danger">
          <%= alert %>
        </aside>
    <% end %>

    <%= yield %>
    </div>
    <footer class="">
    <div class="container">
      <p>FlashSPR © 2016.</p>
      </div>
    </footer>
  </body>
</html>
